<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>E-Learning Platform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisteredServlet</display-name>
    <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/RegisteredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionServlet</display-name>
    <servlet-name>AdmissionServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.AdmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionServlet</servlet-name>
    <url-pattern>/AdmissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsViewServlet</display-name>
    <servlet-name>StudentsViewServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.StudentsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsViewServlet</servlet-name>
    <url-pattern>/StudentsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewServlet</display-name>
    <servlet-name>StudentViewServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.StudentViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewServlet</servlet-name>
    <url-pattern>/StudentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddServlet</display-name>
    <servlet-name>UpdateAddServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.UpdateAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddServlet</servlet-name>
    <url-pattern>/UpdateAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudentServlet</display-name>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.deleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.E_Learning.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
</web-app>